@import "tailwindcss";

:root {
  background: var(--Background, #ff914d);
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
